@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;400;700&display=swap');

* {
    box-sizing: border-box;
}

:root{
    /*** COLORS ***/
    --skyblue-dark: #274C77;
    --skyblue: #6096BA;
    --skyblue-lighter: #A3CEF1;
    --gray: #8B8C89;
    --body-color: #E7ECEF;


    /*** FONTS ***/
    --body-font: 'Readex Pro', sans-serif;
        /*** FONT WEIGHT ***/
        --regular: 400;
        --light: 200;
        --bold: 700;
}

body{
    margin: 0;
}

/* NAVBAR */

.nav {
    background-color: var(--skyblue-dark);
    color: var(--body-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: .5rem 2rem; 
}

.site-title{
     font-size: 2rem;
}

.nav ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav a, .nav button{
    color: inherit;
    text-decoration: none;
    font-family: var(--body-font);
    display: flex;
    align-items: center;
    padding: .25rem;
}
.nav button{
    background: none;
    border: none;
    font-size: 1rem;
}

.nav li.active {
    color: var(--skyblue);
}

.nav li{
    transition: transform .2s ease-in-out;
}

.nav li:hover {
    color: var(--skyblue-lighter);
}

.info {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 0.5rem;
    padding: 0 19rem;
    margin: 0;
}

.login, .register{
    background-color: var(--skyblue);
    margin: 50px 250px;
    padding: 10px 30px 50px 30px;
    border-radius: 50px;
    color:var(--body-color);
    box-shadow: 20px 20px var(--skyblue-dark);
    font-family: var(--body-font);
}
Table {
margin-left: 30rem;
margin-right: 30rem;
box-sizing: border-box;
display:inline;
text-align: left;
}

.headd{
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-align: right;
 }

 .rows {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    clear: both;
margin-bottom: 30rem;
 }
 a {
    text-decoration: none;
 }

 .center {
    margin: 2rem
 }

 .center Button{
    margin-bottom: 3rem
 }

 .homecontent {
    display: grid;
    margin-right: 20rem;
    margin-left: 20rem;

 }
 
